@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


$body-bg: #1c2a40;

$theme-colors: (
    primary: #cbd9f0
);


@import "bootstrap";

@mixin theme($theme: #1c2a40) {
    background: $theme;
    color: #cbd9f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.navbar {
    background-color: #0e1520;
    padding-left: 15px;
}

.nav-link {
    color: #cbd9f0;
}

.navbar-brand {
    color: #cbd9f0;
}

.navbar>.active>a {
    background-color: yellow;
    color: green;
}

.blend_card {
    @include theme;
    padding: 50px 0px 0px 20px;
    
}